<p>
  auth works!
</p>
<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
        </p>


        

        <form (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                placeholder="Username"
                class="form-control form-control-lg"
                type="text" [(ngModel)]="model.username" name="username"
                     #title="ngModel"
                *ngIf="authType == 'register'" />
            </fieldset>
            <fieldset class="form-group">
              <input
                placeholder="Email"
                class="form-control form-control-lg"  [(ngModel)]="model.email" name="email"
                     #email="ngModel"
                type="email" />
            </fieldset>
            <fieldset class="form-group">
              <input
                placeholder="Password"
                class="form-control form-control-lg" [(ngModel)]="model.password" name="password"
                     #password="ngModel"
                type="password" />
            </fieldset>
            <button (click)="onclickk()" class="btn btn-lg btn-primary pull-xs-right" type="submit">
              {{ title }}
            </button>
          </fieldset> 

        </form>
<h3 *ngIf="success" class="text-success">login successful </h3>
<h3 *ngIf="failed" class="text-danger">login unsuccessful </h3>


      </div>

    </div>
  </div>
</div>